<html>
<body>
    <form action="/" method="post">
        <table style="width: 20%; text-align: left; margin-left: auto; margin-right: auto;" 
            border="0" cellpadding="4" cellspacing="0">
            <tr>
                <td style="text-align: center;">DEVICE 1</td>
                <td style="text-align: center;"><button name="comando" value="1ON">ON</button></td>
                <td style="text-align: center;"><button name="comando" value="1OFF">OFF</button></td>
            </tr>
            <tr>
                <td style="text-align: center;">DEVICE 2</td>
                <td style="text-align: center;"><button name="comando" value="2ON">ON</button></td>
                <td style="text-align: center;"><button name="comando" value="2OFF">OFF</button></td>
            </tr>
        </table>
    </form>
</body>
</html>